/* Reset and box-sizing */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Ensure the app takes full width and height */
.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-shadow: none; /* Remove shadow to ensure full coverage */
}

/* Styling for links */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
}

/* Remove list styling */
ul li {
  list-style: none;
}

/* Button styles */
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Import CSS files */
@import url("./components/headers/header.css");
@import url("./components/mainpages/products/products.css");
@import url("./components/mainpages/utils/DetailProducts/detailProduct.css");
